
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTOlOV.woff2') format('woff2');
}

.perspective-1000 {
  perspective: 1000px;
  transform-style: preserve-3d;
}

body {
  font-family: 'JetBrains Mono', monospace;
}

.fare-breakdown {
  font-family: 'Poppins', sans-serif;
}


/* html, body {
  font-family: 'Inter', sans-serif;
} */